<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    
 <div >
    <p>welcome to profile page</p>
    

    <form method="post" action="/update/<%= user.id %>?_method=PUT"> 
      <label for="name">Welcome</label>
        <input type="text" name="name" value=" <%= user.name %>" style="border: none; font-size: 21px;"> <br><br>
        <input type="text" name="email" value=" <%= user.email %>" style="border: none;" > <br><br>

          <button type="submit">update</button>

    </form>

     
</div> 
  

     
     
</body>
</html> 