<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    
  <div class="user">
    <p>welcome to profile page</p>
    <p>hello   <%= user.Name %>   </p>
    <p>Age  <%= user.email %>   </p>
  </div> 
  

     
     
</body>
</html> 